$fontPrimary: 'open sans',
arial,
helvetica,
sans-serif;
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #F5F5F3;
}

.base-screen {
    background-color: #F5F5F3;
}